<div>
  <h1>Informe o CPF do futuro cooperado (a)</h1>
  <p class="subtext">Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro futuramente.
  <br>Digite apenas os números (sem pontos ou traços).</p>
  <div>
    <form [formGroup]="form">
      <div>
        <label for="cpf">CPF</label>
        <input
          [ngClass]="{'error' : (cpf!.errors?.['cpfInvalido'] && !cpf?.pristine && cpf?.errors)}"
          type="text"
          formControlName="cpf"
          maxlength="11"
          placeholder="000.000.000-00"
          required
          >
        <button
          type="button"
          class="primary font dark"
          (click)="validaCPF()"
          [disabled]="consulta"
          [ngClass]="{'disabled': consulta}"
        > Consultar por CPF</button>

        <div *ngIf="!cpf?.pristine && cpf?.errors">
          <div *ngIf="cpf!.errors?.['cpfInvalido']" class="erro">
            Informe um CPF válido
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="hasvalidCPF">
    <app-card [cooperado]="futuroCooperado" [info]="mockData[0]"></app-card>
    <app-card [cooperado]="futuroCooperado" [info]="mockData[1]"></app-card>
    <app-card [cooperado]="futuroCooperado" [info]="mockData[2]"></app-card>
  </div>
</div>
