<header>
	<section id="desktop-menu" class="desktop-menu">
		<nav class="sidebar flex-column-nowrap">
			<ul class="sidebar__nav-list flex-column-nowrap" role="menubar" aria-label="Main desktop menu">
				<li class="nav-list__item about-me active opacity fake-button flex-column-nowrap" role="menuitem">
					<a class="flex-row-wrap" href="#" tabindex="0">
            <img src="../../assets/imagens/menu.png" height="25" width="25">
          </a>
				</li>
				<li class="nav-list__item skills fake-button flex-column-nowrap" role="menuitem">
					<a class="flex-row-wrap" href="#" tabindex="0">
            <img src="../../assets/imagens/search.png" height="25" width="25">
          </a>
				</li>
				<li class="nav-list__item skills fake-button flex-column-nowrap" role="menuitem">
					<a class="flex-row-wrap" href="#" tabindex="0">
            <img src="../../assets/imagens/star.png" height="25" width="25">
          </a>
				</li>
				<li class="nav-list__item skills fake-button flex-column-nowrap" role="menuitem">
					<a class="flex-row-wrap" href="#" tabindex="0">
            <img src="../../assets/imagens/chat.png" height="25" width="25">
          </a>
				</li>
				<li class="nav-list__item my-work fake-button flex-column-nowrap" role="menuitem">
					<a class="flex-row-wrap" href="#" tabindex="0">
						<img src="../../assets/imagens/setup.png" height="25" width="25">
					</a>
				</li>
				<li class="nav-list__item contact fake-button flex-column-nowrap" role="menuitem">
					<a class="flex-row-wrap" href="#" tabindex="0">
						<img src="../../assets/imagens/bank.png" height="25" width="25">
					</a>
				</li>
			</ul>
		</nav>
	</section>
</header>
