<header>
	<section id="barra-lateral" class="barra-lateral">
		<nav class="lateral coluna">
			<ul class="barra-lateral-lista coluna" role="menubar" aria-label="Barra lateral">
				<li class="lista-itens active opacity coluna logo" role="menuitem">
					<a class="linha" href="#" tabindex="0">
            <img src="../../assets/imagens/logo.png" height="50" width="50" alt="logo">
          </a>
				</li>
				<li class="lista-itens active opacity coluna" role="menuitem">
					<a class="linha" href="#" tabindex="0">
            <img src="../../assets/imagens/menu.png" height="25" width="25" alt="menu">
          </a>
				</li>
				<li class="lista-itens coluna" role="menuitem">
					<a class="linha" href="#" tabindex="0">
            <img src="../../assets/imagens/search.png" height="25" width="25" alt="search">
          </a>
				</li>
				<li class="lista-itens coluna" role="menuitem">
					<a class="linha" href="#" tabindex="0">
            <img src="../../assets/imagens/star.png" height="25" width="25" alt="star">
          </a>
				</li>
				<li class="lista-itens coluna" role="menuitem">
					<a class="linha" href="#" tabindex="0">
            <img src="../../assets/imagens/chat.png" height="25" width="25" alt="chat">
          </a>
				</li>
				<li class="lista-itens coluna" role="menuitem">
					<a class="linha" href="#" tabindex="0">
						<img src="../../assets/imagens/setup.png" height="25" width="25" alt="setup">
					</a>
				</li>
				<li class="lista-itens coluna" role="menuitem">
					<a class="linha" href="#" tabindex="0">
						<img src="../../assets/imagens/bank.png" height="25" width="25" alt="bank">
					</a>
				</li>
			</ul>
		</nav>
	</section>
</header>
