<div class="card">
  <div class="card-content">
    <h4 class="margin-b-0">Situação cadastral do CPF</h4>
    <h5 class="margin-0 subTitle">Consulta na Receita Federal</h5>

    <div>
      <div class="linha">
        <div class="icone">
          <img src="../../../assets/imagens/profile.png"
            alt="icone-pessoa" class="opacity icone centraliza "
          >
        </div>
        <div class="label subTitle">Nome</div>
        <div class="valor">{{ cooperado?.nome }}</div>
      </div>
      <div class="linha">
        <div class="icone">
          <img src="../../../assets/imagens/check-mark.png"
            alt="icone-pessoa" class="opacity icone centraliza"
          >
        </div>
        <div class="label subTitle">Situação do CPF</div>
        <div class="valor">{{ cooperado?.situacaoCpf }}</div>
      </div>
    </div>
  </div>
</div>
