<div class="barra-superior">
  <div class="parent">
    <div class="div1 margin-auto p-20">
      <img src="../../../assets/imagens/notification.png"
        width="25" height="25"></div>
    <div class="div2">
      <p> VIACREDI </p>
    </div>
    <div class="div3">
      <img src="../../../assets/imagens/ceo.jpg"
        width="45" height="45" class="user">
    </div>
    <div class="div4 font">
      NOVA ADMISSÃO COOPERADO
    </div>
    <div class="div5">
      Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado
    </div>
    </div>
</div>
